<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.text_field(:name, required: true, class: "form-control", placeholder: 'Room Number') %>
  </div>
  <hr style="border: 1px solid;">
  <div class='builder'>
    <%= f.simple_fields_for :hotels do |builder| %>
          <%= render 'hotel', f: builder %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= link_to_add_association('Add Room', f, :hotels, class: "btn btn-warning btn-sm") %>
  </div>
  <hr>
  <div class="form-actions">
  <%= f.button :submit, class: "btn btn-success btn-lg pull-right" %>
  </div>
<% end %>