<p style="color: green"><%= notice %></p>

<%= render @room %>

<div>
  <%= link_to "Edit this hotel group", edit_room_path(@room) %> |
  <%= link_to "Back to hotel groups", room_path %>

  <%= button_to "Destroy this hotel group", @room, method: :delete %>
</div>
