<%= simple_form_for(@hotel) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.text_field(:name, required: true, class: "form-control", placeholder: 'Hotel Name') %>
  </div>
  <hr style="border: 1px solid;">
  <div class='builder'>
    <%= f.simple_fields_for :rooms do |builder| %>
          <%= render 'room', f: builder %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= link_to_add_association('Add room', f, :rooms, class: "btn btn-warning btn-sm") %>
  </div>
  <hr>
  <div class="form-actions">
  <%= f.button :submit, class: "btn btn-success btn-lg pull-right" %>
  </div>
<% end %>